@charset "utf-8";
/*table_header*/
.search_tab{padding:10px 0 10px 0; position:relative;}

/*table type01*/
.table_form01 table { width: 100%; table-layout:fixed; }
.table_form01 table thead tr th { text-align:center; background: #f9f9f9; border-top:1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; color: #333; font-size: 12px; font-weight: bold; /*padding: 5px 0;*/ width: auto; vertical-align: middle; height:32px;line-height:32px;}
.table_form01 table thead tr th:first-child { border-left: none; }
.table_form01 table tbody tr { width: 100%; background-color:#fff;border-bottom: 1px solid #dcdcdc; }
.table_form01 table tbody tr:hover { background: #fdfef3;}
.table_form01 table tbody tr td{padding:0px 10px;height:24px; font-size: 12px; color: #333;}
.table_form01 table tbody tr td.list{padding:3px 10px;}
.table_form01 table tbody tr td:first-child { border-left: none; }
.table_form01 table tbody tr:first-child td { border-top: none; }
.table_form01 table tfoot{ background-color:#f0f0e9;margin:3px 0 3px 0;}
.table_form01 table tfoot td{padding:3px 10px 3px 10px; }
.table_form01 table .check { text-align: center; }
.table_form01 table .check label { display:inline-block;line-height:normal;}
/*table type01 E*/

/*table type02*/
.table_form02 table { width: 100%; table-layout:fixed; border-collapse:collapse;}
.table_form02 table tbody { overflow-y: auto; overflow-x: hidden; }
.table_form02 table thead tr th { text-align:center; background: #f9f9f9; border:1px solid #dcdcdc; color: #6a6a6a; font-size: 12px; font-weight: bold; /*padding: 5px 0;*/ width: auto; vertical-align: middle; height:30px;line-height:30px;}
.table_form02 table thead tr th.first,
.table_form02 table thead tr th:first-child { border-left:none; }
.table_form02 table thead tr th:last-child { border-right:none; }
.table_form02 table tbody tr { width:100%; cursor:pointer; background-color:#fff; }
.table_form02 table tbody tr:hover { background: #fdfef3; }
.table_form02 table tbody tr td { border:1px solid #dcdcdc;; color:#333333; padding:0 10px; height:26px; font-size:12px; }
.table_form02 table tbody tr td.list { padding:3px 10px; }
.table_form02 table tbody tr td:first-child { border-left:none; }
.table_form02 table tbody tr td:last-child { border-right:none; }
.table_form02 td .dateP_02 { width:240px; }
.table_form02 td .dateP_02 div { float:left; }
.table_form02 td .dateP_02 .txt { line-height:26px; height:26px; padding:0px 5px 0px 0px; }
.table_form02 td .dateP_02 input.date_picker { cursor:pointer; background-image:url(/common/images/ico/ico_cal.gif); background-position:100% 6px; background-repeat:no-repeat;}
.table_form02 input.date_picker { cursor:pointer; background-image:url(/common/images/ico/ico_cal.gif); background-position:100% 5px; background-repeat:no-repeat;}
.table_form02 input.date_picker:focus { background-image:url(/common/images/ico/ico_cal_off.gif);}
.table_form02 input.date_lock { background-image:url(/common/images/ico/ico_cal_off.gif);background-position:100% 5px; background-repeat:no-repeat;}
.table_form02 table tfoot { background-color:#f0f0e9;margin:3px 0 3px 0; }
.table_form02 table tfoot tr { width: 100%; cursor: pointer;background-color:#fff;border-bottom: 1px solid #dcdcdc; }
.table_form02 table tfoot tr th { background: #f9f9f9; padding:2px 4px 2px 4px; border-left: 1px solid #dcdcdc;; color: #333333; padding:0 10px; height:26px;font-size:12px; }
.table_form02 table tfoot tr td { padding:2px 4px 2px 4px; border-left: 1px solid #dcdcdc; color: #333333; padding:0 10px; height:26px; font-size:12px; }
.table_form02 table tfoot tr td:first-child { border-left: none; }
.table_form02 table .check { text-align: center; }
.table_form02 table .check label { display:inline-block; line-height:normal; }
/*table type02 E*/

/*table type03*/
.table_form03 { padding:0px 0px 0px 0px;}
.table_form03 { border-collapse: collapse; width: 100%; }
.table_form03 table { width: 100%;table-layout:fixed; }
.table_form03 tr:first-child { border-top: 1px solid #dcdcdc; }
.table_form03 tr:last-child  { border-bottom: 1px solid #dcdcdc; }
.table_form03 tr { border-top: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc;}
.table_form03 th { background: #EAEAEA; text-align: left; font-weight: normal; color: #333333; font-weight:bold; padding: 0px 15px; height:26px; font-size: 12px; line-height: 2em; padding:2px 4px 2px 4px;}
.table_form03 td { color: #333333; padding:0 10px;height:26px;font-size: 12px; vertical-align: middle;line-height: 2em; padding:2px 4px 2px 4px;}
.table_form03 td .dateP_02 { width:240px; }
.table_form03 td .dateP_02 div { float:left; }
.table_form03 td .dateP_02 .txt { line-height:26px; height:26px; padding:0px 5px 0px 0px; }
.table_form03 td .dateP_02 input.date_picker { cursor:pointer; background-image:url(/common/images/ico/ico_cal.gif); background-position:100% 6px; background-repeat:no-repeat;}
.table_form03 input.date_picker { cursor:pointer; background-image:url(/common/images/ico/ico_cal.gif); background-position:100% 5px; background-repeat:no-repeat;}
.table_form03 input.date_picker:focus { background-image:url(/common/images/ico/ico_cal_off.gif);}
.table_form03 input.date_lock { background-image:url(/common/images/ico/ico_cal_off.gif);background-position:100% 5px; background-repeat:no-repeat;}
.table_form03 td textarea { width:100%; height:100%; padding:5px; display:block; border:1px solid #cdcdcd; margin:3px 0px 3px 0px; resize:none; }
/* .table_form03 td textarea { width:100%; height:100px; padding:5px; display:block; border:1px solid #cdcdcd; margin:3px 0px 3px 0px; resize:none; } */
/*table type03*/

/*table type04*/
.table_form04 table { width: 100%; table-layout:fixed; }
.table_form04 table tbody tr { width: 100%; }
.table_form04 table tbody tr td { color: #333333; padding:10px;height:30px;font-size:12px;}
/*table type04 E*/

/*paging*/
.paging { position: relative; text-align: center; margin: 0 auto; width: auto; font-size: 0; margin-top:20px;}
.paging * { display: inline-block; *display: inline /*IE7HACK*/; _display: inline; /*IE6HACK*/ *zoom: 1; vertical-align: middle; font-size: 12px; }
.paging:after { content: ''; clear: both; display: block; }
.paging .btn { position: relative; background-position: center center; background-repeat: no-repeat; text-indent: -9999px; padding: 0; margin: 0 2px; }
.paging .btn_forward { width: 28px; height: 28px; background-image: url(/common/images/arrow_paging_for.png); }
.paging .btn_prev { width: 28px; height: 28px; background-image: url(/common/images/arrow_paging_prev.png); margin-right: 10px; }
.paging .btn_next { width: 28px; height: 28px; background-image: url(/common/images/arrow_paging_next.png); margin-left: 10px; }
.paging .btn_backward { width: 28px; height: 28px; background-image: url(/common/images/arrow_paging_back.png); }
.paging ul { position: relative;padding:5px 0 5px 0;}
.paging ul li { line-height:26px; }
.paging ul li a {width: 28px; height: 28px; border:1px solid #dcdcdc; font-size: 12px; display: block; line-height: 26px; color:#333333; margin: 0px;text-decoration:none; }
.paging ul li a:hover {background-color:#efefef; }
/* .paging ul li a.on { color: #fff; background-color:#666; font-weight: bold; text-decoration:none; } */
.paging ul li a.pageOn { color: #fff; background-color:#666; font-weight: bold; text-decoration:none; }
/*paging E*/


.row .spanBTitle {color:#333333; font-weight:bold; font-size:12px;}
.noresult { width:100%; height:26px; border-bottom:1px solid #dcdcdc; font-size:12px; padding-top:5px; }